{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".tsx", ".ts"] }],
    "react/react-in-jsx-scope": [0],
    "react/require-default-props": [0],
    "react/no-array-index-key": [0],
    "react/jsx-one-expression-per-line": [0],
    "import/no-extraneous-dependencies": [0],
    "no-return-assign": [0],
    "no-undef": [0],
    "no-void": [0],
    "no-unused-vars": [0],
    "no-shadow": [0],
    "max-len": [0],
    "no-use-before-define": [0],
    "no-promise-executor-return": [0],
    "no-plusplus": [0],
    "no-loop-func": [0]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"]
}